.scene {
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
}
.scene header {
  color: white;
  max-width: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5rem;
  text-align: center;
}
.scene header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
